thead.thead-dark tr th {
    color: #444!important;
}
.m-t-0{
    margin-top: 0px!important;
}
.table-flex{
    display: flex;
    align-items: center;
}
.m-r-10{
    margin-right: 10px!important;
}
.m-b-10{
    margin-bottom: 10px!important;
}
.form-btn{
    display: flex;
    margin-top: 10px;
}
.form-btn a{
    margin-right: 10px;
}

@media (max-width: 768px) {
    .form-btn{
        display: block;
    }
}

.permission-col{
    margin-left: 25px;
}

.permission-col label{
    font-size: 13px;
}

.select2-container {
    width: 100%!important;
}