.error-message-hidden {
    display: none;
}

.custom-success-message {
    color: #5c2d90;
    font-weight: 500;
    margin-bottom: 0px;
}

.pad-cus-pro-cat {
    padding: 10px 10px 0px 0px!important;
}

.btn-center {
    margin: 0px auto;
    display: block;
}

.dis-flex-term {
    display: flex;
    align-items: center;
}

.dis-flex-term a {
    margin-right: 10px;
}

.p-l-0 {
    padding-left: 0px!important;
}

.country-div-list ul {
    padding-left: 0px;
}

.country-div-list ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.country-div-list ul li h4 {
    font-size: 16px;
    width: 130px;
}

.country-div-list ul li h6 {
    font-size: 14px;
    color: #707070;
}

.weight-gain-ul li h4 {
    width: 180px !important;
}

.card-country-cust .card-header {
    background-color: #5c2d90;
    color: #fff;
}